.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
* {
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 99;    
}

.title{
    font-size: 2em;
    position: relative;
    color:white ;
    margin-left: 1rem;
}
.navigation a{
    position:relative;
    font-size: 1em;
    text-decoration: none;
    margin-left: 40px;
    color: white;
}

.navigation ::after{
    content: '';
    position: absolute;
    left: 0;
    width:0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation :hover:after{
  width: 100%;
}
