@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.title{
    font-size: 2em;
    position: relative;
    color:white ;
    margin-left: 1rem;
}

.navigation a{
    position: relative;
    font-size: 1em;
    text-decoration: none;
    margin-left: 40px;
    color: white;
}
