
.store-frame{
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 90%;
    height: 75%;
    position: absolute;
    top: 55%;
    left: 50%;
    flex: 1;
    margin: 10px;
    background-color: rgba(4, 9, 30, 0.7);
    padding: 20px;
    border-radius: 10px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.product p {
    color: rgba(4, 9, 30, 0.7);
}

.product .price {
    font-size: 1.2em;
    color: rgba(4, 9, 30, 0.7);
    margin: 10px 0;
}
h2{
    color: rgba(4, 9, 30, 0.7);
}