.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
* {
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient( rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/photography-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.title{
    font-size: 2em;
    position: relative;
    color:white ;
}
nav{
    padding: 2% 6%;

}
.navigation a{
    padding: 8px 12px;
    position:relative;
    font-size: 1em;
    text-decoration: none;
    color: white;
}

.navigation ::after{
    content: '';
    position: absolute;
    left: 0;
    width:0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navigation :hover:after{
  width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 17px;
    color: #fff;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}